body {
    background-color: whitesmoke;
}
.container {
    margin-top: 5%;
}

.con-button {
    background-color: #4374E6 !important;
    border-color: whitesmoke !important;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_dashboard {
    height: 40px;
}

.btn-primary.focus, .btn-primary:focus {
    color: #4374E6 !important;
    background-color: #fff !important;
    border-color: #4374E6 !important;
    -webkit-box-shadow: 1px 1px 8px 1px #4374E6 !important; 
    box-shadow: 1px 1px 8px 1px #4374E6 !important;
}

.btn-link {
    color: #fff !important;
}

.btn {
    color: #fff !important;
}

.users-container {
    width: 33%;
    height: 33%;
    overflow: hidden
}

.list-row {
    display : flex;
    margin-top: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

.button_update {
    margin-right: 5px;
    height: 45px;
    display: flex !important;
    align-items: center !important;
}

.button_delete {
    height: 45px;
    display: flex !important;
    align-items: center !important;
    background-color: red !important;
}

.accordion_title {
    color: #fff !important;
    text-decoration: none !important;
}

.accordion_header {
    background-color: #4374E6 !important;
    -webkit-box-shadow: 1px 1px 8px 1px #4374E6 !important; 
    box-shadow: 1px 1px 8px 1px #4374E6 !important;
}

.title_fullname {
    padding: 5px;
    height: 100%;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    color: #464646 !important;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
}

.red-zone {
    height: 312px;
    overflow: auto; /* SCROLL BAR */
    width: 100%;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .form-courses {
    margin-bottom: 5%;
    height: 108px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .input-crud_first {
      height: 45px;
      width: 49%;
      margin-right: 1%;
  }

  .input-crud_second {
    height: 45px;
    width: 49%;
  }

  .btn {
    border-width: 2px !important;
    border-style: outset !important;
    border-color: white !important;
    border-image: initial !important;
  }

  :focus-visible {
    outline: #4374E6 !important
}

.card-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textBodyCard {
    width: 100%;
}